/*html {
  position: relative;
}
*/
@media (min-width: 992px) {
    .w-lg-auto {
        width: auto;
    }
}

@media (min-width: 768px) {
    .w-md-auto {
        width: auto;
    }
}

@media (min-width: 576px) {
    .w-sm-auto {
        width: auto;
    }
}

.header-shadow {
    box-shadow: var(--bs-secondary-bg) 0px 0px 16px;
}

/*Заменить на bg-primary для обоих тем, если будет белый вариант лого*/
[data-bs-theme=dark] header nav {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-tertiary-bg-rgb),var(--bs-bg-opacity)) !important;
}

.filter-container-h {
    position: absolute;
    top: 100%;
    left:0;
    right:0;
    height: 100px;
}

    .filter-container-h .card {
        width:fit-content;
    }

#search-form button.btn-outline-info {
    --bs-btn-bg: var(--bs-tertiary-bg);
}

#search-form input {
    --bs-body-bg: var(--bs-tertiary-bg);
}

[data-bs-theme=dark] #search-form button.btn-outline-info {
    --bs-btn-bg: var(--bs-body-bg);
}

/*
.bg-primary,
.btn-primary,
.badge-primary,
.alert-primary {
    background: #fccb90;
    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}
*/
