@model Auction.Models.Lots.EditLotVM
@{
    ViewData["Title"] = "Изменение лота";
}

<section class="container-fluid mb-3">
    <div class="container m-auto">
        @if (ViewBag.IsCanEdit == true)
        {
            <div class="row">
                <div class="col-md-6">
                    <form method="post">
                        <input type="hidden" asp-for="Pid" />
                        <div class="form-group mb-3">
                            <label asp-for="CategoryId" class="form-label"></label>
                            <select asp-for="CategoryId" class="form-select" asp-items="ViewBag.CategoryId" disabled></select>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="Title" class="form-label"></label>
                            <input asp-for="Title" class="form-control" readonly/>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="Description" class="form-label"></label>
                            @if (ViewBag.IsActive)
                            {
                                <textarea asp-for="Description" class="form-control" readonly></textarea>
                            }
                            else
                            {
                                <textarea asp-for="Description" class="form-control"></textarea>
                            }
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="StartDate" class="form-label"></label>
                            <input asp-for="StartDate" class="form-control" readonly/>
                        </div>
                        <div class="mb-3">
                            <label for="Days" class="form-label">Продолжительность торгов</label>
                            <div class="input-group has-validation">
                                <input asp-for="Days" class="form-control" />
                                <span class="input-group-text">д.</span>
                                <input asp-for="Hours" class="form-control" />
                                <span class="input-group-text">ч.</span>
                                <input asp-for="Minutes" class="form-control" />
                                <span class="input-group-text">мин.</span>
                                <input asp-for="Seconds" class="form-control" />
                                <span class="input-group-text">сек.</span>
                                <div class="invalid-feedback">
                                    Некорректные значения интервала времени.
                                </div>
                            </div>
                            <div class="form-text">Продолжительность торгов не может быть уменьшена.</div>
                        </div>
                        <div class="form-group mb-3">
                            <label for="expireMoment" class="form-label">Дата окончания торгов</label>
                            <input type="text" class="form-control" id="expireMoment" value="Некорректные данные" readonly>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="StartPrice" class="form-label"></label>
                            <input asp-for="StartPrice" class="form-control" readonly/>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="BlitzPrice" class="form-label"></label>
                            <input asp-for="BlitzPrice" class="form-control" />
                            <span asp-validation-for="BlitzPrice" class="invalid-feedback"></span>
                        </div>
                        <div class="form-group my-1">
                            <input type="submit" value="Изменить" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>

            @section Scripts {
            @{
                    await Html.RenderPartialAsync("_ValidationScriptsPartial");
                }
            }
        }
        else
        {
            <div class="mx-auto my-5 py-5 d-flex flex-column align-items-center">
                <h3>Редактирование лота невозможно</h3>
                <h5>Торги уже завершены и лот не может быть изменён</h5>
            </div>
        }
    </div>
</section>