@{
    ViewData["Brand"] = "Auctogist";
    if (ViewBag.IsShowHeader is null)
        ViewBag.IsShowHeader = true;
    if (ViewBag.IsAuth is null)
        ViewBag.IsAuth = false;
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Auction.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css"/>
</head>
<body class="d-flex flex-column w-100 min-vh-100 bg-body" data-bs-theme="@ViewData["Theme"]">
    @if(ViewBag.IsShowHeader)
    {
        <header class="flex-grow-0 header-shadow mb-2">
            <nav class="navbar navbar-expand-sm border-bottom bg-body p-0">
                <div class="container-fluid">
                    <a class="navbar-brand p-0" asp-action="index">
                        <img src="~/img/logo/logo-064.png" height="64" alt="logo" />
                    </a>
                    @await RenderSectionAsync("HeaderSearch", required: false)
                    <div class="flex-grow-0 dropdown">
                        <button class="navbar-auth-pill btn btn-outline-primary dropdown-toggle d-flex justify-content-around align-items-center" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-person-circle fs-2"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a href="~/Lots/Create" class="dropdown-item">Создать лот</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a href="~/auth/logout" class="dropdown-item">Выйти</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    }
    <main role="main" class="container-fluid flex-grow-1 d-flex flex-column">
        @RenderBody()
    </main>

    <footer class="bg-body-tertiary text-center text-lg-start flex-grow-0">
        <div class="text-center p-3">
            &copy; 2023 Copyright:
            <a asp-controller="Home" asp-action="Index">@ViewData["Brand"]</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
